/* about.css */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #dbe9f6 15%, #fefcc9 44%, #f7d0d5 100%);
  font-family: 'Gamja Flower', 'cursive';
}
.about-container{
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1{
  text-align: center;
  font-size: 5rem;
}
 h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
.about:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

.content-box:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(12, 73%, 61%); text-shadow:1px 1px hsl(32, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

.about h1 span:nth-child(2){ animation-delay:.05s; }
.about h1 span:nth-child(3){ animation-delay:.1s; }
.about h1 span:nth-child(4){ animation-delay:.15s; }
.about h1 span:nth-child(5){ animation-delay:.2s; }
.about h1 span:nth-child(6){ animation-delay:.25s; }
.about h1 span:nth-child(7){ animation-delay:.3s; }
.about h1 span:nth-child(8){ animation-delay:.35s; }
.about h1 span:nth-child(9){ animation-delay:.4s; }

.about {
  width: 100%;

}
.about .itemList{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ddd; */
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(2, 37, 59, 0.15);
  background-image: url(../public/images/animal.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 80%;
}
.about .itemList img{
  width: 50%;
  height: 30vh;
  border-radius: 10px;
  margin-right: 10px;
  /* outline: 1px solid red; */
}
.about .itemList .text{
  width: 50%;
  /* outline: 1px solid red; */
  padding: 10px 10px;
}
.about .itemList .text h2{
  margin-bottom: 10px;
  text-align: center;
  color: #9d5cbb;
}
.about .itemList .text p:last-child{
  font-weight: bold;
}
.about .btngroup{
  text-align: center;
}
.about .btngroup .btnNext{
  padding: 5px;
  background-color: transparent;
  border: 1px solid #71787d;
  border-radius: 15px;
  font-family: 'Gamja Flower';
}
.about .btngroup .btnNext:first-child{
  margin-right: 20px;
}
.about .btngroup .btnNext:hover{
  background-color: #71787d;
  color: #fff;
}

@media (max-width:375px){
  .about h1{
    font-size: 3rem;
  } 
  .about .itemList{
    display: flex;
    flex-direction: column;
  }
  .about .itemList img{
    width: 100%;
  }
  .about .itemList .text{
    /* outline: 1px solid red; */
    width: 100%;
  }
}
@media (max-width:414px){
  .about h1{
    font-size: 3rem;
  } 
  .about .itemList{
    display: flex;
    flex-direction: column;
  }
  .about .itemList img{
    width: 100%;
  }
  .about .itemList .text{
    /* outline: 1px solid red; */
    width: 100%;
  }
}

/* .snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
} */

/* Nav.js css */
.nav{
  width: 100%;
 /*  background:linear-gradient(#dbe9f6,transparent), 
    linear-gradient(-45deg,#fefcc9,transparent), 
    linear-gradient(45deg,#f7d0d5,transparent); 
  background-blend-mode: sreen;  */
  background: #f7d0d5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  padding: 20px;
}
.nav .gnb{
  max-width: 1220px;
}
.nav .gnb img{
  margin-bottom: 0;
}
.nav a{
  color: #71787d;
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;
  font-size: 24px;
}
.nav a:nth-child(2){
  margin-left: 10px;
}
.nav a:nth-child(4){
  margin-right: 10px;
}
.nav a:hover{
  color: #000;
}

@media (max-width:375px){
  .nav a{
    font-size: 17px;
  } 
  .nav .gnb img{
    display: none;
  }
}
@media (max-width:414px){
  .nav a{
    font-size: 17px;
  } 
  .nav .gnb img{
    display: none;
  }
}

/* project */
.container{
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.container .content-box{
  width: 80%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-box h1{
  margin: 20px auto;
  font-size: 3rem;
  color: #9885d7;
}
.content-box h3{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #9d5cbb;
}
.content-box h4{
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #9d5cbb;
}
.content-box p{
  padding-left: 10px;
}
.content-box .content-box-text1, .content-box .content-box-text2{
  border: 1px solid #71787d;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  background-image: url(../public/images/animal.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media (max-width:375px){
  .container .content-box h1{
    font-size: 2.5rem;
  }
  .container .content-box h3{
    font-size: 1.5rem;
  }
  .container .content-box h4{
    font-size: 1rem;
  }
}
/* footer */
.footer{
  max-width: 1220px;
  text-align: center;
  padding: 20px;
  color: #71787d;
}